body {
    background: #383c42;
    margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.flex-container{
    display: flex;
	width: 100%;
	flex-wrap: nowrap;   
    flex-shrink: initial;
    flex-direction: column;
    justify-content: flex-start;
    
}
.first {
    height: 230px;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    position: relative;
}
#Logo
{
    height: 200px;
    width: auto;
    position: absolute;
    bottom: 0px;
    left: 75%;
}
 @font-face {
    font-family: Shrift; /* Гарнитура шрифта */
    src: url(Shrift.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: s5; /* Гарнитура шрифта */
    src: url(s5.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: s6; /* Гарнитура шрифта */
    src: url(s6.ttf); /* Путь к файлу со шрифтом */
   }

.header_txt{
    
    font-family: Shrift;
    color: black;
    font-size: 500%;
    margin: 4% 20%;
    
}

.third
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#slidera {
   background: url(images/5.jpg);
   width: 100%;
   margin:0;
   overflow: visible;
   position: relative;
}

#maska {
   overflow: hidden;
   height: 360px;
}

#slidera ul {
   margin: 0;
   padding: 0;
   position: relative;
}

#slidera li {
   width: 40%;  /* Ширина изображения */
   height: 360%; /* Высота изображения */
   position: absolute;
   top: -325px;	/* Исходное положение  (за пределами слайдера) */
   list-style: none;
}

#slidera li.firstanimation {
	animation:cycle 25s linear infinite;	
}

#slidera li.secondanimation {
	animation:cycletwo 25s linear infinite;			
}

#slidera li.thirdanimation {
	animation:cyclethree 25s linear infinite;			
}

#slidera li.fourthanimation {
	animation:cyclefour 25s linear infinite;			
}
@keyframes cycle {
   0%  { top: 0px; } /* При запуске слайдера, первое изображение уже видимо */
   4%  { top: 0px; } /* Стартовая позиция */
   16% { top: 0px; opacity:1; z-index:0; } /* С 4% до 16 % (3 секунды) изображение видимо */
   20% { top: 325px; opacity: 0; z-index: 0; } /* с 16% до 20% (1 секунды)выход изображения*/
   21% { top: -325px; opacity: 0; z-index: -1; } /* Возвращение на исходную позицию за пределами маски */
   92% { top: -325px; opacity: 0; z-index: 0; }
   96% { top: -325px; opacity: 0; } /* С 96% до 100% (1 секунда) – вход */
   100%{ top: 0px; opacity: 1; }
}

@keyframes cycletwo {
   0%  { top: -325px; opacity: 0; } /* Исходная позиция за пределами маски */
   16% { top: -325px; opacity: 0; }/* Начало движения с 16% */
   20% { top: 0px; opacity: 1; }
   24% { top: 0px; opacity: 1; }  /* С 20% до 24% (в течении 1 секунды) — вход*/
   36% { top: 0px; opacity: 1; z-index: 0; }   /* С 24% до 36 % (3 секунды) изображение видимо */
   40% { top: 325px; opacity: 0; z-index: 0; } /* С 36% до 40% (1 секунда)— выход */
   41% { top: -325px; opacity: 0; z-index: -1; }   /* Возврат на исходную позицию */
   100%{ top: -325px; opacity: 0; z-index: -1; }
}

@keyframes cyclethree {
   0%  { top: -325px; opacity: 0; }
   36% { top: -325px; opacity: 0; }
   40% { top: 0px; opacity: 1; }
   44% { top: 0px; opacity: 1; }
   56% { top: 0px; opacity: 1; }
   60% { top: 325px; opacity: 0; z-index: 0; }
   61% { top: -325px; opacity: 0; z-index: -1; }
   100%{ top: -325px; opacity: 0; z-index: -1; }
}

@keyframes cyclefour {
   0%  { top: -325px; opacity: 0; }
   56% { top: -325px; opacity: 0; }
   60% { top: 0px; opacity: 1; }
   64% { top: 0px; opacity: 1; }
   76% { top: 0px; opacity: 1; z-index: 0; }
   80% { top: 325px; opacity: 0; z-index: 0; }
   81% { top: -325px; opacity: 0; z-index: -1; }
   100%{ top: -325px; opacity: 0; z-index: -1; }
}

.progress-bar { 
	position:relative;
	top:5px;
	width:100%; 
	height:5px;
	background:#000;
	animation:fullexpand 25s ease-out infinite;
	
}
@keyframes fullexpand {
   /* В этих ключевых кадрах анимация стационарна */
   0%, 20%, 40%, 60%, 80%, 100% { width: 0%; opacity: 0; }

   /* В этих — оживает */
   4%, 24%, 44%, 64%, 84% { width: 0%; opacity: 0.3; }

   /* В этих — плавно заполняется */
   16%, 36%, 56%, 76%, 96% { width: 100%; opacity: 0.7; }

   /* В этих ключевых кадрах индикатор выполнения завершил свой путь */
   17%, 37%, 57%, 77%, 97% { width: 100%; opacity: 0.3; }

   /* В этих ключевых кадрах индикатор выполнения исчезнет, а затем возобновит цикл */
   18%, 38%, 58%, 78%, 98% { width: 100%; opacity: 0; }
}

#slidera .tooltip {
   background: rgba(0,0,0,0.7);
   width: 300px;
   height: 60px;
   position: relative;
   bottom: 90px;
   left: 210px;
   transition: all 0.3s ease-in-out;
}

#slidera .tooltip h7 {
   color: #fff;
   font-size: 24px;
   font-weight: 300;
   line-height: 60px;
   padding: 0 0 0 10px;
}

#slidera .tooltip {
   transition: all 0.3s ease-in-out;
}

#slidera:hover li, 
#slidera:hover .progress-bar {
	animation-play-state:paused;
}

.scroll-img{
    width: 250%;
    height: 360px;
}

.imageslider
{
    width: 50%;
    height: 360px;
    background: #0e0711;
}

.column
{
    width: 50%;
    height: 360px;
    background: #c4cef2;
}

.columntext
{
    line-height: 25px;
    color: white;
    padding:0px 0px 15px 20px;
    font-family: Calibri;
    font-size: 1.5vw;
}

h3
{
    letter-spacing: 13px;
    padding:0px 20px 0px 20px;
    color:#262a51;
    font-size: 3vw;
    font-family: s5;    
}

.four
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

#left2
{
    position: relative;
    background: #859cf2;
	height: 376px;
}
#right2
{
	height: 376px;
	background: #859cf2;
}

#h3l2{
	color : #262a51;        
}

.five{
    width: 100%;
    background: #9aadce;
}

.contactform{
    
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

h4
{
    font-family: s5;
    text-align: center;
    font-size: 30px;
    letter-spacing: 10px;
}

.contactform input, .contactform textarea {
    width: 98%;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

input, textarea, select {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

.submitbutton
{
    width: 98%;
    padding: 0 20px;
    margin-bottom: 40px;
    background: #d2def2;
	border: 3px solid #c3cee0;
    line-height: 40px;
    border-radius: 20px;
    font-family: s5, sans-serif;
    margin-left: auto;
    margin-right: auto;
    color : #000000;
    letter-spacing: 10px; 
}

.submitbutton:hover
{
    background: #c3cee0;
}

.submitbutton:active
{
    background: #c3cee0;
}

input:invalid:not(:placeholder-shown) {border-color: red; border: 2px;}
input:valid:not(:placeholder-shown) {border-color: red; border: 2px; }
label
{
    font-family: Calibri;
    font-weight: normal;    
}

.topbutton {
	width:100px;
	text-align:center;
	padding:10px;
	position:fixed;
	bottom:50px;
	left:27px;
	cursor:pointer;
	color:#bf1f00;
	font-family: s5;
	font-size:12px;
	text-decoration: none;
	outline: none;
	display: inline-block;
	border: 1px solid #bf1f00;
	border-radius: 20px;
	z-index: 2000;
}

.topbutton:hover,
.topbutton:active {
	background-color: #ffe970;
	color: #000;
}

.dragblock
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#dragfrom
{
    background: #ccd4e0;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#dragfrom img
{
    margin: 15px;
    box-shadow: 5px 4px rgb(0,0,0,.05);
}

#dragto
{
    background: #afc0d8;
    height: auto;
}

#dragto img
{
    width: 70%;
    height: 70%;
    margin: 5%;
    margin-left: 15%;
    box-shadow: 15px 15px rgb(0,0,0,.2);
}

#dragto h4
{
    color: #262a51;
}
.h4txt
{
    color: #262a51;
    text-align: center;
}

.six
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#drawid {
	position: relative;
	height: auto;
	background: #383c42;
}

#drawtext{
    position: absolute;
    top:0px;
    text-align: center;
    font-family: s6;
    font-size: 2vw;
    letter-spacing: 0.6vw;
}

#drawCanvas
{
    z-index: 2;
    width: 320px;
    height: 355px;
    background: #d4e2f9;
}

#nearcanvas
{
	text-align: center;
    font-family: s5;
    font-size: 30px;
    letter-spacing: 10px;
    color: #262a51;
}

.absoluteflexcontainer
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
	width: 320px;
	margin: 0 0 0 10%;
}

#canvascolumn{
	
    height: 600px;
    width: 50%;
}

.c{
  width: 100%;
  height: 595px;
  background: #383c42;
}

#canvasimg
{
	position: absolute;
    top:33%;
    bottom: 50%;
    left: 13%;
    right: 50%;
    width: 75%;
    height: 35%;
}

#idColor{    
	background: white;
     border-width: 1px;
    border-radius: 20px;
}

#choosecolor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 10px;
}

#choosecolor .columntext {
    margin: 0;
}

#slider{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
}

.seven{
    width: 100%;
    height: auto;
    background: #ba28b7;
    position: relative;
}

#Downloadd{
    top: 20px;
    width: 20%;
    height: 30px;
	text-align:center;
	cursor:pointer;
	color:#87aeed;
	font-family: s5;
	font-size:12px;
	text-decoration: none;
	background-color: transparent;
	outline: none;
	display: inline-block;
	border: 3px solid #87aeed;
	border-radius: 20px;
	z-index: 2000;
    position: absolute;
    bottom: 0;
    margin-left: 40%;
}

@media only screen and (max-width: 815px )
{
	.body{
		overflow: hidden;
	}
    .three, .four
    {
        flex-direction: column;
        width : 100%;
    }
    .imageslider, .left
    {
        width:100%;
    }
    .columntext
{
    line-height: 25px;
    font-size: 15px;
    width : 90%;
}
    
    .column, .content-slider, .slidera, .maska  {
        width: 100%;
    }
	.contactform{
    
   
    width: 300px;
}

h3
{
    letter-spacing: 13px;
    font-size: 25px;
      
}
    .header_txt {
        font-size: 10vw;
    }
	#Logo{
		width: 9vh;
		height: auto;
	}
    #canvascolumn{
    width: 100%;
}
    #drawtext{
        font-size: 5vw;
    }
	.absoluteflexcontainer {
		margin: 0 0 0 25%;
	}
    
    
}
@media only screen and (max-width: 475px ) 
{
	.absoluteflexcontainer {
		margin: 0 0 0 5%;
	}
    .header_txt{
        font-size: 8vw;
    }
}
     @media only screen and (max-width: 350px ) 
{
	.absoluteflexcontainer {
		margin: 0 0 0 0;
	}
    .header_txt{
        font-size: 8vw;
    }
}